:root {
    overflow-y: auto;
}

html {
    height: 100vh;
    font-size: 62.5%;
}

body {
    background: white.main;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'DINPro', sans-serif;
    font-size: 2rem;
}
