.Wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white.main;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;

    &&--notFound {
        background: blue.main;

        h1 {
            margin: auto;
            color: white.main;
        }
    }
}
