black = {
    main: #0a0b0c
}

grey = {
    light: #f0f3f7,
    main: #8f96a0,
    dark: #636a71
}

white = {
    main: #fff
}

blue = {
    main: #11a3eb
}

link = {
    default: grey.dark,
    hover: lighten(grey.dark, 15%)
}
