@font-face {
  font-family: "DINPro";
  src: url("./fonts/DINPro-Regular.woff") format("woff"),
       url("./fonts/DINPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DINPro-Medium";
  src: url("./fonts/DINPro-Medium.woff") format("woff"),
       url("./fonts/DINPro-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DINPro-Light";
  src: url("./fonts/DINPro-Light.woff") format("woff"),
       url("./fonts/DINPro-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
