@font-face {
  font-family: "DINPro";
  src: url("./fonts/DINPro-Regular.woff") format("woff"), url("./fonts/DINPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DINPro-Medium";
  src: url("./fonts/DINPro-Medium.woff") format("woff"), url("./fonts/DINPro-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DINPro-Light";
  src: url("./fonts/DINPro-Light.woff") format("woff"), url("./fonts/DINPro-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* sanitize.stylus v2.0.0 | CC0 1.0 Public Domain | github.com/sotayamashita/sanitize.stylus */
:root {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}
audio:not([controls]) {
  display: none;
}
button {
  overflow: visible;
}
details {
  display: block;
}
input[type="number"] {
  width: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input::-webkit-search-cancel-button,
input::-webkit-search-decoration {
  -webkit-appearance: none;
}
main {
  display: block;
}
summary {
  display: block;
}
pre {
  overflow: auto;
}
progress {
  display: inline-block;
}
small {
  font-size: 75%;
}
template {
  display: none;
}
textarea {
  overflow: auto;
}
[hidden] {
  display: none;
}
*,
::before,
::after {
  box-sizing: inherit;
}
* {
  font-size: inherit;
  line-height: inherit;
}
::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}
*,
::before,
::after {
  border-style: solid;
  border-width: 0;
}
* {
  margin: 0;
  padding: 0;
}
:root {
  box-sizing: border-box;
  cursor: default;
  font: 100%/1.5 sans-serif;
  text-rendering: optimizeLegibility;
}
html {
  background-color: #fff;
  color: #000;
}
a {
  text-decoration: none;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
button,
input,
select,
textarea {
  background-color: transparent;
}
button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}
button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: 1.5;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}
nav ol,
nav ul {
  list-style: none;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
}
select::-ms-expand {
  display: none;
}
select::-ms-value {
  color: currentColor;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
textarea {
  resize: vertical;
}
::-moz-selection {
  background-color: #b3d4fc;
  color: #4c2b03;
  text-shadow: none;
}
::selection {
  background-color: #b3d4fc;
  color: #4c2b03;
  text-shadow: none;
}
[aria-busy="true"] {
  cursor: progress;
}
[aria-controls] {
  cursor: pointer;
}
[aria-disabled] {
  cursor: default;
}
[hidden][aria-hidden="false"] {
  clip: rect(0 0 0 0);
  display: inherit;
  position: absolute;
}
[hidden][aria-hidden="false"]:focus {
  clip: auto;
}
:root {
  overflow-y: auto;
}
html {
  height: 100vh;
  font-size: 62.5%;
}
body {
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'DINPro', sans-serif;
  font-size: 2rem;
}
.Wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  background-color: #fff;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
}
.Wrapper.Wrapper--notFound {
  background: #11a3eb;
}
.Wrapper.Wrapper--notFound h1 {
  margin: auto;
  color: #fff;
}
.Dropdown-wrapper {
  position: relative;
  display: inline-block;
}
.Dropdown {
  position: absolute;
  width: 150px;
  left: 0;
  opacity: 0;
  pointer-events: none;
  padding: 1rem 0 0.5rem;
  -webkit-transform: translateY(0) scaleY(0);
          transform: translateY(0) scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: opacity 0.15s ease-in, -webkit-transform 0.15s ease-out;
  transition: opacity 0.15s ease-in, -webkit-transform 0.15s ease-out;
  transition: opacity 0.15s ease-in, transform 0.15s ease-out;
  transition: opacity 0.15s ease-in, transform 0.15s ease-out, -webkit-transform 0.15s ease-out;
  text-align: left;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.2);
}
.Dropdown:after {
  content: "";
  display: block;
  position: absolute;
  top: -7px;
  left: 24px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
}
.active .Dropdown {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(10px) scaleY(1);
          transform: translateY(10px) scaleY(1);
  -webkit-transition: opacity 0.175s ease-in, -webkit-transform 0.175s ease-out;
  transition: opacity 0.175s ease-in, -webkit-transform 0.175s ease-out;
  transition: opacity 0.175s ease-in, transform 0.175s ease-out;
  transition: opacity 0.175s ease-in, transform 0.175s ease-out, -webkit-transform 0.175s ease-out;
}
.active .Dropdown .Dropdown-item {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 0.175s ease-in-out, -webkit-transform 0.175s ease-in-out;
  transition: opacity 0.175s ease-in-out, -webkit-transform 0.175s ease-in-out;
  transition: opacity 0.175s ease-in-out, transform 0.175s ease-in-out;
  transition: opacity 0.175s ease-in-out, transform 0.175s ease-in-out, -webkit-transform 0.175s ease-in-out;
}
.active .Dropdown .Dropdown-item:nth-child(1) {
  -webkit-transition-delay: 0.015s;
          transition-delay: 0.015s;
}
.active .Dropdown .Dropdown-item:nth-child(2) {
  -webkit-transition-delay: 0.03s;
          transition-delay: 0.03s;
}
.active .Dropdown .Dropdown-item:nth-child(3) {
  -webkit-transition-delay: 0.045s;
          transition-delay: 0.045s;
}
.active .Dropdown .Dropdown-item:nth-child(4) {
  -webkit-transition-delay: 0.06s;
          transition-delay: 0.06s;
}
.active .Dropdown .Dropdown-item:nth-child(5) {
  -webkit-transition-delay: 0.075s;
          transition-delay: 0.075s;
}
.Dropdown-list {
  list-style: none;
}
.Dropdown-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  margin: 0 1rem;
  padding: 0.2rem 0;
  color: #636a71;
  cursor: pointer;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  vertical-align: middle;
}
.Dropdown-item:nth-of-type(3) {
  padding: 0.2rem 0 0.5rem;
}
.Dropdown-item:nth-of-type(4) {
  padding: 0.5rem 0 0.2rem;
  border-top: 1px solid #f0f3f7;
}
.Dropdown-item:hover {
  color: #8f96a0;
}
.Dropdown-link {
  color: inherit;
}
.Dropdown-trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Dropdown-icon {
  margin-left: 0.5rem;
  width: 12px;
  height: 12px;
}
.Hamburger {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 23px;
  cursor: pointer;
  z-index: 2;
}
.Hamburger span {
  position: absolute;
  display: block;
  width: 25px;
  height: 3px;
  left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 2px;
  background-color: #f0f3f7;
}
.Hamburger span.Hamburger-top {
  top: 0;
}
.Hamburger span.Hamburger-middle {
  top: 10px;
}
.Hamburger span.Hamburger-bottom {
  bottom: 0;
}
.Hamburger.Hamburger--close span {
  background-color: #8f96a0;
}
.Hamburger.Hamburger--close span.Hamburger-top {
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}
.Hamburger.Hamburger--close span.Hamburger-middle {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.Hamburger.Hamburger--close span.Hamburger-bottom {
  -webkit-transform: translateY(-10px) rotate(45deg);
          transform: translateY(-10px) rotate(45deg);
}
@media only screen and (min-width: 768px) {
  .Hamburger {
    display: none;
  }
}
.HorizontalMenuItem {
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.HorizontalMenuItem + .HorizontalMenuItem {
  margin-left: 2rem;
}
.Main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}
.Main-button {
  margin-top: 2rem;
}
.Sidebar {
  position: absolute;
  width: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition: -webkit-transform 0.35s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition: transform 0.35s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition: transform 0.35s cubic-bezier(0.95, 0.05, 0.795, 0.035), -webkit-transform 0.35s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  z-index: 2;
}
.Sidebar.Sidebar--visible {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.Sidebar-container {
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem 1rem;
  background-color: #f0f3f7;
}
.Topbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 945px;
  margin: 1rem auto 0;
  padding: 0 2rem;
}
@media only screen and (min-width: 768px) {
  .Topbar {
    -webkit-box-align: end;
        -ms-flex-align: end;
                -ms-grid-row-align: flex-end;
            align-items: flex-end;
  }
}
@media only screen and (min-width: 992px) {
  .Topbar {
    padding: 0;
  }
}
.Topbar-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.Topbar-primary > * + * {
  margin-left: 2.25rem;
}
.Topbar-menu {
  display: none;
}
@media only screen and (min-width: 768px) {
  .Topbar-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.Topbar-secondary {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
}
.Topbar-secondary > * + * {
  margin-left: 2rem;
}
@media only screen and (min-width: 768px) {
  .Topbar-secondary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.VerticalMenu {
  margin-top: 1.75rem;
  padding-top: 1.75rem;
  list-style: none;
  border-top: 1px solid #ddd;
}
.VerticalMenuItem {
  position: relative;
  color: #636a71;
  font-size: 1rem;
}
.VerticalMenuItem:nth-of-type(7) {
  padding-bottom: 0.5rem;
}
.VerticalMenuItem:nth-of-type(8) {
  padding-top: 1.25rem;
  border-top: 1px solid #ddd;
}
.VerticalMenuItem + .VerticalMenuItem {
  margin-top: 1rem;
}
.VerticalMenuItem-link {
  color: #636a71;
}
.VerticalMenuItem-link:hover {
  color: #8f96a0;
}
